@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



*{
	padding: 0px;
	margin: 0px;
}

body{
	
    font-family: 'Poppins', sans-serif;
}
html{
	scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Poppins', sans-serif;
}

a, a:hover{
	text-decoration: none;
}


/* Common Properties */

:root {
    --text-color: #3a3a3a;
    --button-background-color: #e02c6d;

}
h1{
    font-size: 52px;
    font-weight: 700;
}
p{
    font-size: 16px;
    font-weight: 400;
}

.container{
    width:80%;
    margin: 0 auto;
}


/* Banner Section */
.banner{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px 0px;
    /* grid-template-columns: 1fr, 1fr; */
}
.top-left-banner{
    width: 50%;
}
.top-left-banner .banner-img{
    width: 475px;
    height: 475px;
}
.banner-button{
    background: var(--button-background-color);
    color: #fff;
    padding: 5px 20px;
    border-radius: 15px;
    font-weight: 500;
    border: none;
}
.top-right-banner{
    width: 50%;
}



/* Brands */
.brands{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 40px 0px;
    border-top: 1px solid #ebe8e8;
